.form {
  width: 17rem;
  border-radius: 10px;
}

.input {
  text-align: center;
  outline: none;
  width: 14rem;
  height: 2rem;
  border: none;
  caret-color: black;
}

.btn {
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  background-color: #859dc6;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
}

@media screen and (max-width: 1191px) {
  .form {
    width: 30rem;
  }

  .input {
    width: 27rem;
  }
}

@media screen and (max-width: 940px) {
  .form {
    width: 20rem;
  }

  .input {
    width: 17rem;
  }
}

@media screen and (max-width: 480px) {
  .form {
    width: 19rem;
  }

  .input {
    width: 13rem;
  }
}
