.form {
  position: fixed;
  display: flex;
  border-bottom: 1px solid #c5e8f5;
  width: 100vw;
  height: 5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(
    90deg,
    rgba(153, 166, 222, 1) 0%,
    rgba(117, 226, 211, 1) 100%
  );
  caret-color: transparent;
  z-index: 1;
  overflow: hidden;
}

.movie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  caret-color: transparent;
}

.options,
.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  caret-color: transparent;
}

.options {
  width: 51rem;
  margin-right: 22.5rem;
}

.toggle {
  width: 32rem;
  margin-right: 1rem;
}

.input {
  transform: translateY(0.05rem);
}

.yearPick {
  width: 15rem;
}

.countryCode,
.display {
  width: 7.5rem;
}

.movieList {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem 0 2rem;
  margin: 6.92rem 0 5rem 0;
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  /* position: relative; */
}

.none,
.arrow {
  display: none;
}

@media screen and (max-width: 1500px) {
  .form {
    justify-content: flex-start;
  }
  .options {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1191px) {
  .options {
    justify-content: space-between;
  }

  .toggle {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 18rem;
    height: 10rem;
    padding: 1rem;
    background-color: #b8ece6;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #adadad;
    position: fixed;
    top: 4rem;
    right: 1rem;
  }

  .arrow {
    display: none;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #b8ece6;
    z-index: 1;
    transform: rotate(45deg) translate(-0.1rem, 0.8rem);
  }
}

@media screen and (max-width: 917px) {
  .movieList {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    display: none;
  }
  .input {
    margin-right: 5rem;
  }
  .options {
    justify-content: center;
    margin-right: 0;
  }
}

@media screen and (max-width: 665px) {
  .movieList {
    padding: 9rem 2rem 0 2rem;
    margin: 1.5rem 0 2rem 0;
  }
}

@media screen and (max-width: 563px) {
  .movieList {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .movieList {
    padding-top: 6rem;
  }
}

@media screen and (max-width: 480px) {
  .arrow {
    display: none;
  }
  .input {
    margin-right: 0rem;
  }
  .options {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 360px) {
  .options {
    justify-content: space-between;
  }
}
