.form {
  position: fixed;
  display: flex;
  border-bottom: 1px solid #c5e8f5;
  width: 100vw;
  height: 5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: #252525; */
  /* background-color: #a12223; */
  /* background-color: #63cdda; */
  /* background-color: white; */
  background: rgb(117, 226, 211);
  background: linear-gradient(
    90deg,
    rgba(153, 166, 222, 1) 0%,
    rgba(117, 226, 211, 1) 100%
  );
  caret-color: transparent;
  z-index: 1;
  overflow: hidden;
}

.movie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  caret-color: transparent;
}

.options {
  width: 50rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  caret-color: transparent;
}

.yearPick {
  width: 15rem;
}

.countryCode {
  width: 7.5rem;
}

.display {
  width: 7.5rem;
}

.movieList {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem 0 2rem;
  margin: 6.92rem 0 5rem 0;
  background-color: white;
  /* background-color: #eff6f8; */
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}

.none {
  display: none;
}
