.form {
  position: fixed;
  display: flex;
  /* width: calc(100vw - 10px); */
  width: 100vw;
  height: 5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: #252525; */
  /* background-color: #a12223; */
  /* background-color: #63cdda; */
  background-color: #000000;
  caret-color: transparent;
  z-index: 1;
}

.movie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  caret-color: transparent;
}

.options {
  width: 50rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  caret-color: transparent;
}

.yearPick {
  width: 15rem;
}

.countryCode {
  width: 7.5rem;
}

.display {
  width: 7.5rem;
}

.movieList {
  width: 90rem;
  /* height: 42rem; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 5rem;
  /* overflow-y: scroll; */
}
