.logoDiv {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(-20rem);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.logoDiv:hover {
  transform: translateX(-19.9rem);
}

.logo {
  color: #546de5;
  font-weight: bold;
  line-height: 1;
  transform: translateY(0.2rem);
}
