.back {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: translate(-5rem, 2.5rem) rotate(-40deg);
  background-color: rgb(0, 0, 0, 0.1);
  width: 20rem;
  height: 30rem;
}

.logoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  transform: translateX(-1rem) rotate(40deg);
}

.logo {
  color: white;
  font-weight: bold;
  line-height: 1;
  transform: translateY(0.2rem);
  width: 7rem;
}
