.content {
  width: 12rem;
  height: 20rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.content:hover {
  transform: scale(1.01);
}

.subTitle,
.actor,
.mActor,
.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.posterArea {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
}

.poster {
  width: 10rem;
  height: 15rem;
  object-fit: contain;
  cursor: pointer;
  box-shadow: 5px 5px 5px #e9f1f4;
}

.posterBlur {
  width: 10rem;
  height: 15rem;
  background-color: rgb(255, 255, 255, 0.4);
}

.posterBack {
  width: 10rem;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.textArea {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  color: black;
  font-weight: bold;
  text-align: left;
  width: 10rem;
  word-break: keep-all;
}

.date {
  color: #859dc6;
  font-weight: bold;
  text-align: left;
  width: 10rem;
}

.none {
  display: none;
}

.modalBack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 10;
  display: none;
}

.modal {
  position: fixed;
  top: calc(50vh - 12.5rem);
  left: calc(50vw - 25rem);
  height: 25rem;
  width: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.modalBlur {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.modalContents {
  width: 70%;
  height: 70%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 10px;
}

.mPoster {
  width: 8rem;
  object-fit: contain;
  margin-right: 1.5rem;
  box-shadow: 0px 0px 5px white;
}

.mTexts {
  list-style: none;
  color: white;
  padding: 0 1.5rem 0 0;
}

.mTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.mLink {
  width: 3rem;
  height: 1.4rem;
  background-color: #546de5;
  text-align: center;
  border-radius: 10px;
  margin-top: 1rem;
}

.mLinkText,
.mLinkText:hover {
  color: white;
}

.mLink:hover {
  transform: scale(1.05);
}

.mSubTitle,
.mActor {
  margin-bottom: 0.5rem;
}

.button {
  width: 4rem;
  height: 2rem;
  font-size: 1rem;
  transform: translate(23.5rem, -3rem);
  cursor: pointer;
  border: none;
  border-top: 3px solid #546de5;
  border-bottom: 3px solid #546de5;
  font-weight: bold;
  color: black;
  background-color: white;
  overflow: hidden;
}

.line {
  width: 10rem;
  height: 2rem;
  background-color: rgb(187, 198, 250, 0.5);
  border: none;
  outline: none;
  transform: rotate(25deg) translate(-5rem, -3rem);
  cursor: pointer;
}

.button:hover > .line {
  animation: button 2s infinite;
}

@keyframes button {
  0% {
    transform: rotate(25deg) translate(-5rem, -3rem);
  }

  100% {
    transform: rotate(25deg) translate(-5rem, 3rem);
  }
}

@media screen and (max-width: 870px) {
  .modal {
    left: calc(50vw - 20rem);
    width: 40rem;
  }

  .button {
    transform: translate(18rem, -3rem);
  }
}

@media screen and (max-width: 700px) {
  .modal {
    left: calc(50vw - 17rem);
    width: 34rem;
  }

  .modalContents {
    width: 90%;
  }

  .button {
    transform: translate(15rem, -3rem);
  }
}

@media screen and (max-width: 570px) {
  .modal {
    left: 0;
    width: 100vw;
  }

  .modalContents {
    width: 95%;
  }

  .button {
    transform: translate(calc(50vw - 2rem), -3rem);
  }
}

@media screen and (max-width: 500px) {
  .content {
    flex-direction: row;
    justify-content: center;
    width: 24rem;
    height: 17rem;
    border-bottom: 1px solid #e3e3e3;
  }

  .posterArea {
    margin: 0;
  }

  .poster {
    cursor: default;
  }

  .textArea {
    width: 10rem;
    text-align: left;
    margin-left: 1.5rem;
    word-break: keep-all;
  }

  .none {
    display: flex;
    text-align: left;
  }

  .actor {
    display: -webkit-box;
  }

  .title {
    margin-bottom: 0.5rem;
  }

  .director {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .subTitle,
  .actor {
    margin-bottom: 0.5rem;
  }

  .rate {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }

  .rateText {
    margin: 0;
  }

  .link {
    display: flex;
    justify-content: center;
    width: 3rem;
    background-color: #859dca;
    border-radius: 10px;
  }

  .linkText {
    color: white;
  }

  .link:hover > .linkText {
    color: white;
  }

  .link:hover {
    transform: scale(1.01);
  }
}

@media screen and (max-width: 400px) {
  .content {
    height: 15rem;
  }

  .poster,
  .posterBlur,
  .posterBack {
    width: 7rem;
    height: 10.5rem;
  }

  .title,
  .subtitle,
  .actor,
  .rate {
    margin-bottom: 0.3rem;
  }
}

@media screen and (max-width: 345px) {
  .content {
    height: 15rem;
  }

  .poster,
  .posterBlur,
  .posterBack {
    width: 5rem;
    height: 7.5rem;
  }

  .title,
  .subtitle,
  .actor,
  .rate {
    margin-bottom: 0.3rem;
  }
}
