.ant-picker-panel-container .ant-picker-panels {
  flex-direction: row;
}

.ant-space {
  width: 15rem;
}

.ant-space-item {
  background-color: white;
}

.ant-picker-range .ant-picker-active-bar {
  background: black;
}

@media screen and (max-width: 1191px) {
  .ant-picker-panel-container {
    transform: translateX(-18rem);
  }
}

@media screen and (max-width: 620px) {
  .ant-picker-panel-container .ant-picker-panels {
    flex-direction: column;
  }
  .ant-picker-panel-container {
    height: 21.6rem;
    transform: translateX(0rem);
  }
}
