.h1 {
  transform: translateY(0.3rem);
  padding-left: 1rem;
  color: #7a7a7a;
  font-weight: bold;
  font-size: 1.2rem;
}

/* .images {
  position: absolute;
} */

.popcorn,
.cam,
.readyAction,
.film {
  position: absolute;
  transform: translateX(-6rem) scale(0);
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
  box-shadow: 5px 5px 10px #e3e3e3;
  transition: all 300ms ease-in-out;
}

.popcorn {
  transform: translateX(-6rem) scale(1);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(15rem);
}
