.text {
  transform: translateY(0.3rem);
  padding-left: 1rem;
  color: #7a7a7a;
  font-weight: bold;
  font-size: 1.2rem;
}

.popcorn,
.cam,
.readyAction,
.film,
.empty {
  position: absolute;
  transform: translate(-6rem, 0) scale(0);
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
  box-shadow: 5px 5px 10px #e3e3e3;
  transition: all 300ms ease-in-out;
  z-index: 20;
}

.popcorn {
  transform: translateX(-6rem) scale(1);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(calc(50vh - 8.5rem));

  animation: guidance 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes guidance {
  from {
    transform: translate(-50rem, calc(50vh - 8.5rem));
  }

  to {
    transform: translate(0, calc(50vh - 8.5rem));
  }
}

/* @media screen and (max-width: 665px) {
  .popcorn,
  .film,
  .cam,
  .readyAction {
    transform: translate(-6rem, calc(50vh - 6rem));
  }

  @keyframes guidance {
    from {
      transform: translate(-50rem, calc(50vh - 6rem));
    }
  
    to {
      transform: translate(0, calc(50vh - 6rem));
    }
  }
} */
