.guidance {
  transform: translateY(6.3rem);
  caret-color: transparent;
  /* color: #546de5; */
  color: black;
  font-weight: bold;
  /* text-shadow: gray 0.1rem 0.1rem 0.3rem; */
  animation: guidance 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes guidance {
  from {
    transform: translate(0, 3.5rem);
  }

  to {
    transform: translate(0, 6.3rem);
  }
}
